@font-face {
    font-family: "Caskaydia";
    src: url("./font/CaskaydiaCoveNerdFont-Regular.ttf") format("truetype");
}

* {
    font-family: "Caskaydia";
}

body {
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #212121;
    color: white;
}
body.light-mode {
    background-color: white;
    color: black;
}

#header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.dark-mode #header {
    background-color: #1e1e1e;
}
.light-mode #header {
    background-color: #d7f9f1;
}

#content {
    height: 500px;
}

#footer {
    background-image: url("./img/footer.svg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#title {
    margin: 0px;
}

#homepage {
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}
.dark-mode #homepage {
    color: white;
}
.light-mode #homepage {
    color: black;
}
#homepage:hover,
#homepage:active {
    color: #0e8b6e;
}

#theme-toggle {
    padding: 10px;

    float: right;

    background: none;
    border: none;

    font-size: 25px;
}
.dark-mode #theme-toggle {
    color: white;
}
.light-mode #theme-toggle {
    color: black;
}
#theme-toggle:hover,
#theme-toggle:active {
    color: #0e8b6e;
}

#repo {
    font-size: 30px;
    text-decoration: none;
}
.dark-mode #repo {
    color: white;
}
.light-mode #repo {
    color: black;
}

.dark-mode #repo:hover,
.dark-mode #repo:active {
    color: #1c3e36;
}

.light-mode #repo:hover,
.light-mode #repo:active {
    color: #d7f9f1;
}

#grid {
    padding-top: 200px;
    padding-bottom: 100px;
    margin: auto;

    display: grid;
    grid-template-rows: auto auto auto;
    width: 400px;
}
.row {
    display: flex;
}

.item {
    width: 100%;
}

button {
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.button,
.text {
    outline: none;
    margin: 5px;
    border-radius: 20px;
    display: inline-block;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
    border: 2px solid transparent;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.dark-mode .button {
    background-color: #0e8b6e;
    box-shadow:
        rgba(28, 62, 54, 0.4) 0 -20px 18px -14px inset,
        rgba(28, 62, 54, 0.3) 0 2px 4px,
        rgba(28, 62, 54, 0.2) 0 4px 8px,
        rgba(28, 62, 54, 0.1) 0 8px 16px;
    color: #ffffff;
}

.light-mode .button {
    background-color: #6de9cd;
    box-shadow:
        rgba(109, 233, 205, 0.3) 0 -15px 12px -10px inset,
        rgba(109, 233, 205, 0.2) 0 2px 4px,
        rgba(109, 233, 205, 0.15) 0 4px 8px;
    color: #000000;
}

.text::placeholder {
    opacity: 0.7;
}
.dark-mode .text::placeholder {
    color: white;
}
.light-mode .text::placeholder {
    color: black;
}

.button:hover,
.text:hover {
    transform: scale(1.05) rotate(-1deg);
}

.dark-mode .button:hover {
    background-color: #0c7a5f;
    box-shadow:
        rgba(28, 62, 54, 0.5) 0 -20px 18px -14px inset,
        rgba(28, 62, 54, 0.4) 0 4px 8px,
        rgba(28, 62, 54, 0.3) 0 8px 16px,
        rgba(28, 62, 54, 0.2) 0 16px 32px;
    border-color: #1c3e36;
}

.light-mode .button:hover {
    background-color: #5cd0b6;
    box-shadow:
        rgba(109, 233, 205, 0.4) 0 -15px 12px -10px inset,
        rgba(109, 233, 205, 0.3) 0 4px 8px,
        rgba(109, 233, 205, 0.25) 0 8px 16px;
    border-color: #d7f9f1;
}

.button:active,
.text:active {
    transform: scale(0.95) rotate(0deg);
    background-color: #0b6a53;
}

.dark-mode .text {
    background-color: rgba(109, 233, 205, 0.15);
    color: #ffffff;
}
.light-mode .text {
    background-color: rgba(109, 233, 205, 0.4);
    color: #000000;
}

#multiplayer input {
    width: 30%;
}

/*          */

.chessboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-with-ranks {
    display: flex;
    align-items: center;
}

.coordinate-labels {
    display: flex;
    font-weight: bold;
}

.dark-mode .coordinate-labels {
    color: #ffffff;
}

.light-mode .coordinate-labels {
    color: #000000;
}

.files-labels {
    flex-direction: row;
    justify-content: space-around;
    width: 480px;
    margin-left: 30px;
    padding: 5px 0;
}

.ranks-labels {
    flex-direction: column;
    justify-content: space-around;
    height: 480px;
    padding-right: 10px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
    border-radius: 5px;
}

.dark-mode #chessboard {
    border: 10px solid #1c3e36;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.light-mode #chessboard {
    border: 10px solid #6de9cd;
    box-shadow: 0 4px 10px rgba(109, 233, 205, 0.7);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
    cursor: pointer;
    border: none;
}

.dark-mode .square.light {
    background-color: #0e8a6e;
}
.light-mode .square.light {
    background-color: #b5f4e5;
}

.dark-mode .square.dark {
    background-color: #1c3e36;
}

.light-mode .square.dark {
    background-color: #6de9cd;
}

.black-piece {
    color: #000000;
}

.white-piece {
    color: #ffffff;
}

#game-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#game-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.dark-mode .square.selected {
    background-color: #ffd700;
}

.light-mode .square.selected {
    background-color: #fdfd96;
}
